{% load staticfiles hijack_tags %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Utter_Api{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{% static 'hijack/hijack-styles.css' %}" rel="stylesheet" type="text/css" />
        {% block extra_css %}{% endblock %}
        <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
    </head>

    <body class="{% block body-class %}{% endblock %}">
        {% hijack_notification %}
        <main>
            {% block content %}
                Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
                to get some actual content.
            {% endblock %}
        </main>

        
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
