# Feel free to use this for setting environment variables upon deploy
DJANGO_SETTINGS_MODULE="{{ django_settings_module }}"
DB_NAME="{{ dbname }}"
DB_USER="{{ dbuser }}"
DB_PASSWORD="{{ dbpassword }}"
DB_HOST="{{ dbhost }}"
DB_PORT="{{ dbport }}"

REDIS_URL="{{ redis_url }}"
ELASTICSEARCH_HOST="localhost:9200"
SECRET_KEY="{{ django_secret_key }}"

MUNICIPALITY_NAME="{{ municipality_name }}"
